<footer class="footer row">
    <div class="footer__links col-4 col-s-4">
        <ul>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
        </ul>
    </div>
    <div class="footer__contacts col-4 col-s-4">
        <ul>
            <li><a href="">Contact</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </div>
    <div class="footer__legal col-4 col-s-4">
        <ul>
            <li><a href="">Legal</a></li>
            <li><a href="">Legal</a></li>
            <li><a href="">Legal</a></li>
            <li><a href="">Legal</a></li>
            <li><a href="">Legal</a></li>
            <li><a href="">Legal</a></li>
        </ul>
    </div>
    <div class="footer__rights"></div>
</footer>