<nav class="row">
  <ul>
    <li>
      <a routerLink="/gestisci-profilo">Gestisci profilo</a>
    </li>
    <li>
      <a routerLink="/cerca-lavoro">Cerca lavoro</a>
    </li>
    <li>
      <a routerLink="/cerca-candidato">Cerca candidato</a>
    </li>
    <li>
      <a routerLink="/accedi">Accedi</a>
    </li>
    <li>
      <a routerLink="/registrazione">Registrazione</a>
    </li>
    <li>
      <a routerLink="/faq">Domande frequenti</a>
    </li>
  </ul>
</nav>

<main>
  <router-outlet></router-outlet>
</main>


<app-footer></app-footer>